<?xml version="1.0"?>
<launch>
    <node pkg="mdr_look_at_action" type="look_at_action" name="look_at_server" output="screen">
        <param name="object_position" value="" />
        <param name="camera_link_name" value="head_rgbd_sensor_link" />
        <param name="retry_count_on_failure" value="0" />
        <param name="timeout_s" value="120" />
    </node>
</launch>
